@import '../constants';

.header {
  background: $col_primary; 
  text-transform: uppercase;
  padding: 0.1em 0;
  width: 110vw;
  margin-left: -5vw;
  margin-bottom: 3em;
  transform: rotateZ(-3deg);
  overflow: hidden;

  h1 {
    text-align: center;
    font-size: 5em;
    margin: 0;
  }

  h2 {
    font-weight: lighter;
    margin: 0.3em 0;

    white-space: nowrap;
    overflow: hidden;

    a {
      font-weight: lighter;
      margin: 0 1em;
      padding: 0 0.2em;
      color: $col_dark;
    }

    a:hover {
      color: $col_light;
      background: $col_dark;
    }
  }

  h2::before, h2::after {
    content: "";
    margin: 0.2em 0;
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid $col_secondary;
  }
}