// Color scheme
// https://coolors.co/247ba0-70c1b3-e0e2db-584b53-fcf6bd
$col_dark: #584B53;
$col_light: #E0E2DB;
$col_primary: #247BA0;
$col_secondary: #70C1B3;
$col_joker: #FCF6BD;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Work+Sans:300,400,500,600,700');
$font_primary: Work Sans, sans-serif;
$font_mono: Inconsolata, monospace;
